*{
	margin: 0;
	padding: 0;
	font-family: verdana;
	box-sizing: border-box;
}
.container{
	height: 100vh;
	width: 100%;
	background-image: url(images/bg1.jpg);
	
}
.navbar{
	float:right;}


.navbar{
	margin: auto;
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
}
.navbar ul li{
	list-style: none;
	display:flex;
	margin:0 20px;
	position: absolute;

}
.navbar ul li a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -7px;
	transition: 0.4s;
}
.navbar ul li:hover::after{
	width: 100%;
}
/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.topnav input[type=text] {
    border: 1px solid #ccc;
  }
.table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  line-height: 45px;
}
table.center{
	margin-right: auto;
	margin-left: auto;
}
#update{
	padding: 10px 20px;
	color: #CBBDDB;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 4px;
	border: 1px solid #8F7CEC;
	margin: auto;
}
#update:hover{
	background: #8f7CEC;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #8F7CEC,0 0 25px #8F7CEC,0 0 58PX #8F7CEC,0 0 100PX #8F7CEC;
}
#delete{
	padding: 10px 20px;
	color: #CBBDDB;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 4px;
	border: 1px solid #8F7CEC;
	margin: auto;
}
#delete:hover{
	background: #8f7CEC;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #8F7CEC,0 0 25px #8F7CEC,0 0 58PX #8F7CEC,0 0 100PX #8F7CEC;
}
