*{
	margin: 0;
	padding: 10;
	font-family: Verdana;
	border:0;
}


.navbar{
	float: right;}


.navbar{
	margin: auto;
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin:0 20px;
	position: relative;

}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #1697e2;
	position: absolute;
	left: 0;
	bottom: -7px;
	transition: 0.4s;
}
.navbar ul li:hover::after{
	width: 100%;
}
.logo{
	width: 100px;
	cursor: pointer;
	position:  relative;
}
.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: rgb(255, 255, 255);
}
.content h1{
	font-size: 70px;
	margin-top: 80px; 
}
.content p{
font-family: sans-serif;
	margin: 10px 100px;
	font-weight: 100;
}

button {
	width: 350px;
	height: 40px;
	font-size: 17px;
	border-radius:50px;
	border: 2px solid #ffffff;
	background: transparent;
	color: white;
	margin-top: 50px ;
	
	
}

input{
	background-color: white;
    border: none;
	color: black;
}

select{
	background-color: white;
    border: none;
	color: gray;
}
.tt{
	box-shadow: 2px 15px 25px 5px rgb(109, 109, 109);
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-radius: 10px;
	
	
}
#fr{
	border-bottom-left-radius: 10px;
	
}




td{
	
	height: 50px;
	
}

#book{
	border: none;
	font-size: 30px;
	font-family: Verdana;
	background-color: #ffffff;
	border-radius: 10px;
	color: black;
}
button:hover
{
	cursor: pointer;
	border-radius:50px;
	background: #8f7CEC;
	box-shadow: 0 0 5px #8F7CEC,0 0 25px #8F7CEC,0 0 58PX #8F7CEC,0 0 100PX #8F7CEC;
}
::placeholder{
	color: black;
}
body{
	background-color: #e5c0fb;
}
section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      /* TAKE OBJECT FAR FROM PERSPECTIVE VIEW */
      .card {
        /* background-color: #0000aa; */
        perspective: 1000px;
        margin: 1rem;
      }

      /* SET SAME COLUMN AND ROW FOR BOTH CARD */
      .card-container {
        width: 250px;
        height: 320px;
        background: none;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
		transition: all 1s ease;
		transform-style: preserve-3d;
      }
      .card-front {
        width: 100%;
        height: 100%;
        border-radius: 10px;
  		backface-visibility: hidden;
  		overflow: hidden;
  		background: #33D5FF;
  		color: #000;
  		text-align: center;
        border-radius: 10px;
        grid-area: 1 / 1;
        transform: rotateY(180deg);
      }
      .card-back {
      width: 100%;
  		height: 100%;
  		border-radius: 10px;
  		backface-visibility: hidden;
  		overflow: hidden;
  		background: url(assets/air.jpg);
        background-size:cover;
  		color: #333;
  		text-align: center;
        grid-area: 1 / 1;
      }
     /* FIX CARD IMAGES WIDTH */
     .card-container img {
        width: 15rem;
      }

      .card:hover .card-container {
        transform: rotateY(180deg);
      }
    .main {
        line-height: normal;
        font-size: auto;
    }
